{% extends 'layout.html' %}

{% block body %}
	<h1>Give Feedback</h1>
	<h2>I would also very much appreciate any bug reports to go here</h2>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="">
		<div class="form-group">
			{{render_field(form.title, class_="form-control")}}
		</div>
		<div class="form-group">
			{{render_field(form.body, class_="form-control", id="editor")}}
		</div>
		<p><input type="submit" class="btn btn-primary" value="Submit"></p>
	</form>
{% endblock %}