{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
	<h1>Welcome to Community Task Center</h1>
	<p class="lead">This app allows users to post tasks to be done.
	<ul>
		<li>Users can post and see tasks using the tasks tab</li>
		<li>Can claim tasks using the tasks tab</li>
		<li>Can view claimed tasks on your dashboard as well as tasks you've submitted</li>
		<li>Once you have completed the task, mark it as done using the dashboard</li>
		<li>Once marked as done, the task is moved to the approve tab</li>
		<li>Anyone besides the person who completed the task can approve the task, indicating they can verify the task has been completed</li>
		<li>After being approved, the task is archived and a point is awarded to the person who completed it</li>
		<li>Your score can be viewed using the leaderboard tab</li>
		<li>Rack up those points and hope you have a good time with the website :)</li>
	</ul>
	</p>

</div>
{% endblock %}
